.azteca-cabecera-nosotros {
    padding:3em 1em;
    background-image: url('../../assets/img/nosotros/nosotros-header.jpg');
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;

    h1 {
        font-size: 4.2em;
        margin-bottom: 1.5em;
        color:white;
    }

    p {
        max-width: 80%;
        display: block;
        margin:0 auto;
        color:white;
    }

    .top {
        margin-bottom: 1em;
    }
}

.azteca-hacemos-nosotros {
    padding:6em 1em 0 1em;

    .frase {
        position: absolute;
        background-color: #BED2E0;
        padding:1.5em 2em;
        width:24em;
        margin-top: 1.2em;
        border-radius: 0.9em;

        p {
            font-size: 1.4em;
            line-height: 1.2em;
            color:white;
            margin:0;
            margin-bottom: 0.7em;
        }

        span {
            color:white;
            font-size: 1.3em;
        }
    }

    .img {
        height: 25em;
        background-color: #ececec;
        border-radius: 0.7em;

        &.img1 {
            background-image: url('../../assets/img/nosotros/nosotros-1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        &.img2 {
            margin-top: 10em;
            background-image: url('../../assets/img/nosotros/nosotros-2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    h3 {
        font-size: 1.4em;
        color:#d9000d;
        position: relative;
        display: inline-block;

        &::before {
            content:'';
            position: absolute;
            width: 110%;
            height: 1px;
            left:0;
            bottom:-0.4em;
            background-color: #d9000d;
        }
    }

    h4 {
        font-size: 1.2em;
        line-height: 1.4em;

        span {
            display: block;
        }
    }

    h2 {
        color:#2E4054;
        font-size: 2.1em;
        margin:0.7em 0;

        span {
            display: block;
        }
    }

    p {
        &:last-child {
            margin-bottom: 2.5em;
        }

        margin-top: 1em;
        color:#2E4054;
        font-size: 1.1em;
    }
}

.azteca-nosotros-testimonios {
    padding:5.5em 1em;

    h2 {
        text-transform: uppercase;
        color: #2E4054;
        font-size: 2.1em;
        margin: 0.7em 0;
    }

    .parrafo {
        width: 60%;
        color:#717171;
        display: block;
        margin:0 auto;
        font-size: 1.2em;
        margin-bottom: 3em;
        position: relative;

        &::before {
            content:'';
            position:absolute;
            background-image: url('../../assets/img/nosotros/bg-testimonios.jpg');
            width:20em;
            left:-22em;
            top:-4em;
            z-index: 0;
            height: 20em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .splide__pagination {
        bottom: -2.3em;

        .splide__pagination__page {
            width: 1em;
            height: 1em;
            margin:0.3em;

            &.is-active {
                background: #393939;
                width: 0.78em;
                height: 0.78em;
            }
        }
    }

    .item-slide {
        border: 0.2em solid #2E4054;
        background-color: #ffffff;
        padding: 3em;
        border-radius: 0.5em;
        z-index: 2;
        position: relative;

        .img {
            width:4em;
            height:4em;
            background-image: url('../../assets/img/nosotros/testi-avatar.png');
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
        }

        h3 {
            font-size: 1.5em;
            margin-bottom: 0;
            height: 86px;
        }

        .signo {
            background-image: url('../../assets/icons/signo-bottom.png');
            width:5em;
            height:4em;
            margin-bottom: 2em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.3;
        }

        .informacion {
            top:50%;
            transform: translate(0,-50%);
            position:relative;
    
            h4 {
                font-size: 1.2em;
                text-align: left;
                font-style: italic;
                margin-bottom: 0;
            }
    
            p {
                color:#717171;
                text-align: left;
                font-size: 1em;
                margin-bottom: 0;
            }
        }
    }
}

.azteca-nosotros-vacantes {
    padding:10em 1em;
    background-image: url('../../assets/img/nosotros/familia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;

    &::before {
        position: absolute;
        content:'';
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgb(0,0,0);
        background: linear-gradient(6deg, rgba(0,0,0,0.6895133053221288) 0%, rgba(0,0,0,0.3085609243697479) 100%);
        top:0;
        left:0;
    }

    h3 {
        margin-bottom: 1.4em;
        color:white;
        line-height: 1.3em;
        font-size: 2em;
        z-index:2;
        position: relative;
    }

    h2 {
        font-size: 3em;
        margin-bottom: 0.7em;
        color:white;
        z-index:2;
        position: relative;
    }

    .btn {
        z-index:2;
        position: relative;
        padding:0.7em 1.5em;
        width: 100%;

        &.btn-red {
            background-color: #CC274C;
            border:2px solid #CC274C;
            color:white;

            &:hover {
                background-color: #b31537;
                border:2px solid #b31537;
            }
        }

        &.btn-line {
            color:white;
            border:2px solid #CC274C;

            &:hover {
                background-color: white;
                border-color: transparent;
                color:black;
            }
        }
    }
}

.line-black {
    width:100%;
    height:4px;
    background-color:black;
    position:relative;

    &::before {
        content:'';
        position:absolute;
        left:0;
        top:50%;
        transform:translate(0,-50%);
        width:20px;
        height:20px;
        background-color:black;
        border-radius:50%;
    }

    &::after {
        content:'';
        position:absolute;
        right:0;
        top:50%;
        transform:translate(0,-50%);
        width:20px;
        height:20px;
        background-color:black;
        border-radius:50%;
    }
}

.azteca-nosotros-mision {
    padding:3.5em 0;

    h2 {
        color:#2E4054;
        font-size: 1.8em;
        text-align: right;
        text-transform: uppercase;
        margin-top: 0;
    }

    .img-1 {
        background-image: url('../../assets/img/nosotros/mision-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img-2 {
        background-image: url('../../assets/img/nosotros/mision-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img-horizontal {
        background-image: url('../../assets/img/nosotros/mision-3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom:0;
    }

    p {
        text-align: right;
    }

    .img {
        height:13em;
        width:100%;
        background-color:#ececec;
        margin-bottom:1.5em;
        border-radius:1em;
    }

    .vertical-align {
        top:50%;
        margin-left:2em;
        position:relative;
        transform:translate(0,-50%);
    }
}

.azteca-nosotros-vision {
    padding:3.5em 0;

    h2 {
        color:#2E4054;
        font-size: 1.8em;
        text-align: left;
        text-transform: uppercase;
        margin-top: 0;
    }

    .img-1 {
        background-image: url('../../assets/img/nosotros/vision-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img-2 {
        background-image: url('../../assets/img/nosotros/vision-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img-horizontal {
        background-image: url('../../assets/img/nosotros/vision-3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom:0;
    }

    .img {
        height:13em;
        width:100%;
        background-color:#ececec;
        margin-bottom:1.5em;
        border-radius:1em;
    }

    .img-horizontal {
        margin-bottom:0;
    }

    .vertical-align {
        top:50%;
        margin-left:2em;
        position:relative;
        transform:translate(0,-50%);
    }
}

.azteca-nosotros-certificaciones {
    padding:4em 0;

    h2 {
        text-transform: uppercase;
    }

    p {
        margin-bottom: 2.2em;
        font-size: 1.2em;
    }

    .card {
        height:14em;
        border:0.2em solid #2E4054;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 0 10px rgba(1,1,1,0.8);
        margin-bottom:1.4em;

        &.carti-1 {
            background-image: url('../../assets/img/nosotros/iso.jpg');
        }
        &.carti-2 {
            background-image: url('../../assets/img/nosotros/14001.jpg');
        }
        &.carti-3 {
            background-image: url('../../assets/img/nosotros/2018.jpg');
        }
        &.carti-4 {
            background-image: url('../../assets/img/nosotros/37001.jpg');
        }
        &.carti-5 {
            background-image: url('../../assets/img/nosotros/2013.jpg');
        }
        &.carti-6 {
            background-image: url('../../assets/img/nosotros/45-2018.jpg');
        }
        &.carti-7 {
            background-image: url('../../assets/img/nosotros/transporte.jpg');
        }
        &.carti-8 {
            background-image: url('../../assets/img/nosotros/canacar.jpg');
        }
        &.carti-9 {
            background-image: url('../../assets/img/nosotros/u.jpg');
        }
        &.carti-10 {
            background-image: url('../../assets/img/nosotros/ctpat.jpg');
        }
        &.carti-11 {
            background-image: url('../../assets/img/nosotros/juice.jpg');
        }
    }
}

.azteca-nosotros-testimonios {
    background-color:#e5eaee;
    padding:5em 0;
}