.azteca-cabecera-contacto {
    padding:8em 1em;
    background-image: url('../../assets/img/contacto/header-contacto.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color:white;
        font-size: 3.5em;
        font-style: italic;
        line-height: 1.2em;

        span {
            display: block;
        }
    }
}

.azteca-formulario-contacto {
    padding:6em 1em;

    .informacion {
        top:50%;
        transform: translate(0,-50%);
        position: relative;

        p {
            font-size: 1.1em;
        }

        ul {
            margin:2em 0;
            padding: 0;
    
            li {
                font-size: 1.1em;
                list-style-type: none;
            }
        }
    
        .logo {
            width: 45%;
            display: block;
        }
    }

    .form-control {
        border:0.15em solid #707070;
        padding:1em;
        margin-bottom: 1.4em;
        color:#828588;
    }

    .btn-contacto {
        background-color: #CC274C;
        width: 100%;
        color:white;
        font-size: 1.2em;
        padding:0.6em;

        &:hover {
            background-color: #b31537;
        }
    }
}


//Media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {

    .azteca-cabecera-contacto {

        .informacion {
            text-align: center;
            padding:2em 0;

            .logo {
                margin:0 auto;
            }
        }
    }

    .azteca-formulario-contacto {
        .informacion {
            .logo {
                margin:0 auto;
                margin-bottom: 5em;
            }
        }
    }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {
    
    .azteca-cabecera-contacto {
        padding:5em 1em;

        h1 {
            text-align: center;
            font-size: 2.7em;
            line-height: 1em;
        }
    }
}