.azteca-header {
    margin: 0;
    padding: 0;
    height: 108px;
    background-color: #FFFF;
    display: flex;

    &_icono {
        width: 211px;
        height: 100%;
        padding: 0px 40px;
        display: flex;
        align-items: center; 
        justify-content: center; 
        user-select: none;

        > img{
            width: 200px;
            height: auto;
        }
    }

    &_nav {
        flex-grow: 1; 
        height: 100%;
        display: flex;
        align-items: center; 
        gap: 46px; 
        list-style-type: none; 
        margin: 0;
        padding: 0;
        user-select: none;

        li {
            display: inline-block; 
            margin-left: 10px;

            a {
                padding: 5px 10px; 
                text-decoration: none; 
                color: inherit; 
                font-size: 24px;
                

                &.active { 
                    border-bottom: 3px solid #000;  
                }
            }
        }
    }

    &_contacto {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center; 
        justify-content: flex-end; 
        gap: 80px;
        padding-right: 20px; 
        padding: 0px 20px;
    
        .contact-item {
            display: flex;
            align-items: center;
            gap: 10px; 
    

    
            p {
                font-weight: bold;
                margin: 0;
            }
        }
    }
}