.azteca-capital-humano-hero {
    background-color: #E5EAEE;
    width: 100%;
    height: 832px;
    padding: 20px 0px;
    margin-top: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
  
    &_content {
        width: 100%;
        max-width: 1400px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &_img{
            height: 100%;
            min-width: 800px;
            padding: 5% 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            transform: translateX(-400px);
            opacity: 0;


            >img{
                transform: translateY(-50px);
                object-fit: cover;
                height: auto;
                max-width: 100%; 
            }
        }

        &_text{
            position: relative;
            height: 100%;
            width: 100%;
            padding: 5% 30px;

            transform: translateX(400px);
            opacity: 0;

            >h1{
                color: #2E4054;
            }

            >h3{
                color: #141413;
            }

            >p{
                color: #5A6775;
                margin-bottom: 40px;
            }

            .boton{
                margin: 30px 0px;
                border: solid #CA143D 2px;
                padding: 10px 20px;
                font-size: 18px;
                font-weight: bold;
        
                text-decoration: none; 
                color: inherit; 
                cursor: pointer; 
                border-radius: 3px;
                transition: all 200ms;
            }

            .boton:hover{
                background-color:  #CA143D;
                color: #FFFF;
            }

      
        }
    }
}
@media only screen and (max-width: 1400px) {
    .azteca-capital-humano-hero {
        height: 600px;
        padding: 0px;

        &_content {
            width: 90%; 

            &_img{
                min-width: 600px;
            }
        }
    }
}
@media only screen and (max-width: 1000px) {
    .azteca-capital-humano-hero {
        height: auto;
        padding: 0px;
        margin-top: 50px;

        &_content {
            width: 100%; 

            &_img{
                min-width: 600px;
                display: none;
            }
        }
    }
}

.azteca-capital-humano-conocenos{
    background-color: #2E4054;
    width: 100%;
    height: auto;
    padding: 20px 0px;

    display: flex;
    justify-content: center;

    &_content{
        width: 100%;
        max-width: 1400px;
        height: 100%;
        opacity: 0;


        &_header{
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #FFFF;
            padding: 50px 0px;
            >h3{
                font-weight: bold;
            }

            >p{
                width: 50%;
                text-align: center;
            }
        }

        &_panel{
            display: flex;
            justify-content: center;
            align-items: center;

            

            &_section{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: repeat(5, 200px);
                gap: 20px;
                width: 100%;
                max-width: 1000px;
         
                
             
                &_img{
                    border-radius: 10px;
                    overflow: hidden;
                    
                    >img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .elemento1{
                    grid-column: 1/3;
                    grid-row: 1/3;
                    transform: translateX(-100px);
                }
    
                .elemento2{
                    grid-column: 3/4;
                    grid-row: 1/2;
                    transform: translateX(100px);
                }
    
                .elemento3{
                    grid-column: 1/2;
                    grid-row: 3/4;
                    transform: translateX(-100px);    
                }
    
                .elemento4{
                    grid-column: 2/3;
                    grid-row: 3/4;
                    transform: translateX(-100px);    
                }
    
                .elemento5{
                    grid-column: 3/4;
                    grid-row: 2/4;
                    transform: translateX(200px);            
                }
    
                .elemento6{
                    grid-column: 1/2;
                    grid-row: 4/6;
                    transform: translateX(-100px);    
                }
    
                .elemento7{
                    grid-column: 2/4;
                    grid-row: 4/6;
                    transform: translateX(100px);    
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .azteca-capital-humano-conocenos{
        &_content{
            max-width: 95%;
    
            &_header{
                >p{
                    width: 80%;
                }
            }
    
            &_panel{
                &_section{
                    max-width: 700px;
                    gap: 10px;
             
                    grid-template-rows: repeat(4, 120px);

                    &_img{
                        border-radius: 10px;
                    }

                    
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .azteca-capital-humano-conocenos{
        &_content{
            max-width: 95%;
    
            &_header{
                >p{
                    width: 100%;
                }
            }
    
            &_panel{
                &_section{
                    max-width: 100%;
             

                    grid-template-rows: repeat(4, 90px);

                    &_img{
                        border-radius: 3px;
                    }
                }

                
            }
        }
    }
}

.azteca-capital-humano-talento{
    position: relative;
    width: 100%;
    background-color: #d4d4d4;
    padding: 100px 0px;
    display: flex;
    justify-content: center;

    background-image: url('../../assets/img/capital-humano/capital-humano-talento-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(6deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 100%);
    }

    >img{
        position: absolute;
        height: 100%;
    }

    &_content{
        width: 100%;
        max-width: 1400px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        color: white;

        >h1{
            font-weight: bold;
            transform: translateY(100px);
            animation-delay: 0s;
        }

        h3{
            font-weight: bold;
            transform: translateY(100px);
            animation-delay: 0.1s;
        }

        .boton{
            margin: 30px 0px;
            background-color:  #CA143D;
            border: solid #CA143D 2px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none; 
            color: white; 
            cursor: pointer; 
            border-radius: 3px;
            transition: all 200ms;
            transform: translateY(100px);
            animation-delay: 0.2s;
        }

        .boton:hover{
            background-color:  #FFFF;
            border: solid #CA143D 2px;
            color: rgb(70, 53, 53); 
        }
    
    }
}

.azteca-capital-humano-prestaciones{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: 20px 0px;

    display: flex;
    justify-content: center;

    &_content{
        width: 100%;
        max-width: 1400px;
        height: 100%;

        opacity: 0;


        &_header{
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #2E4054;
            padding: 50px 0px;

            >h2{
                transform: translateY(100px);
            }
        }

        &_panel{
            // background-color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
            

            &_section{
                display: grid;
                gap: 20px;
                width: 100%;
                max-width: 1000px;

                
         
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: repeat(3, auto);
                padding: 0px 20px;

                &_card{
                    opacity: 0;

                    &_header{
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        >img{
                            height: 100px;
                            width: 100px;
                        }
                    }

                    &_texto{
                        height: auto;
                        padding-top: 20px;
                        // text-align: center;
                        color: #2E4054;

                        text-align: justify;

                        >span{
                            font-weight: bold;
                        }
                        
                    }
                }

                .elemento1{
                    grid-column: 1/3;
                    transform: translateY(100px);
                }

                .elemento2{
                    grid-column: 3/5;
                    transform: translateY(100px);
                    animation-delay: .1s;
                }

                .elemento3{
                    grid-column: 5/7;
                    transform: translateY(100px);
                    animation-delay: .2s;
                }

                .elemento4{
                    grid-column: 1/3;
                    transform: translateY(100px);
                    animation-delay: .3s;
                }

                .elemento5{
                    grid-column: 3/5;
                    transform: translateY(100px);
                    animation-delay: .4s;
                }

                .elemento6{
                    grid-column: 5/7;
                    transform: translateY(100px);
                    animation-delay: .5s;
                }

                .elemento7{
                    grid-column: 2/4;
                    transform: translateY(100px);
                    animation-delay: .6s;
                }

                .elemento8{
                    grid-column: 4/6;
                    transform: translateY(100px);
                    animation-delay: .7s;
                }
            }
        }


    }

}

.azteca-capital-humano-testimonios{
    background-color: #F9FBFC;
    width: 100%;
    height: auto;
    padding: 80px 0px;
    display: flex;
    justify-content: center;

    &_content{
        width: 100%;
        max-width: 1200px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        opacity: 0;

        &_card{
            background-color: #FFFFFF;
            width: 100%;
            max-width: 300px;
            height: auto;
            flex: 1;
            min-width: 300px;
            margin: 10px;
            text-align: justify;
            box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.1);
            border-radius: 10px;
            overflow: hidden;
            padding: 5px;
            

            &_usuario{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding-top: 10px;

                &_img{
                    background-color: #BED2E0;
                    width: 120px;
                    height: 120px;
                    margin: 20px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    >img{
                        width: 110px;
                        height: 110px;
                        border-radius: 100%;
                    }
                }

                &_descripcion{
                    color: #000113;   

                    >span{
                        font-size: 12px;
                    }
                }
            }

            >p{
                font-size: 12px;
                padding: 25px 20px 10px 20px;
                color: #3F3F3F;
            }
        }

        .card1{
            transform: translateX(-100px);
        }

        .card2{
            transform: translateX(-200px);
        }

        .card3{
            transform: translateX(-300px);
        }
    }

}

.azteca-capital-humano-vacantes{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;

    width: 100%;
    height: auto;
    padding: 20px 0px;

    display: flex;
    justify-content: center;

    &_content{
        width: 100%;
        max-width: 1000px;
        height: 100%;
        margin-bottom: 100px;

        margin: 0px 20px;

        &_header{
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #2E4054;
            padding: 50px 0px;

            >h2{
                opacity: 0;
                transform: translateY(100px);
            }
        }

        &_panel{

            &_header{
                padding: 40px 0px;
                display: flex;

                opacity: 0;
                transform: translateX(-300px);

                &_icon{
                    // background-color: yellow;
                    height: 50px;
                    width: 50px;
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    

                    >img{
                        width: 100%;
                        
                        transform: scale(.5);
                    }
                }

                &_text{
                    // background-color: #141413;
                    color: #515151;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
               
            }

            &_section{
                background-color: #F1F1F1;
                display: flex;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 20px;


                transition: all .2s;

                &_content{
                    width: 100%;

                    // background-color: red;

                    &_ubicacion{

                        display: flex;

                        &_icon{
                            // background-color: rgb(143, 145, 137);
                            height: 30px;
                            width: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 10px;

                            >img{
                                width: 100%;
                        
                                transform: scale(.5);
                            }
                        }
    
                        &_texto{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #515151;
                        }

                    }

                    
                }

                &_boton{
                    // background-color: blue;
                    height: 80px;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .boton{
                        background-color:  #CC274C;
                        border: solid #CC274C 2px;
                        padding: 5px 25px;
                        font-size: 14px;
                        font-weight: bold;
                
                        text-decoration: none; 
                        color: white; 
                        cursor: pointer; 
                        border-radius: 3px;
                        transition: all 200ms;
                    }
                }
            }

            .section1{
                opacity: 0;
                transform: translateX(-600px);
                animation-delay: .0s;
            }

            .section2{
                opacity: 0;
                transform: translateX(-600px);
                animation-delay: .1s;
            }

            .section3{
                opacity: 0;
                transform: translateX(-600px);
                animation-delay: .2s;
            }

            .section4{
                opacity: 0;
                transform: translateX(-600px);
                animation-delay: .3s;
            }

            .section5{
                opacity: 0;
                transform: translateX(-600px);
                animation-delay: .4s;
            }

            .section6{
                opacity: 0;
                transform: translateX(-600px);
                animation-delay: .5s;
            }

            .section7{
                opacity: 0;
                transform: translateX(-600px);
                animation-delay: .6s;
            }


        }
    
    }
}

.azteca-capital-humano-formulario {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.445);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    

    &_panel{
        background-color: white;
        padding: 30px 10px;
        width: 100%;
        max-width: 100%;
        max-width: 500px;
        border-radius: 10px;
        text-align: center;
        color: #2E4054;
        

       

        &_header{
            text-align: center;
            padding: 15px;
            font-size: 18px;
        }
        &_content{
            text-align: center;
            padding: 15px
        }
    }
}

.azteca-capital-humano-formulario {
    .informacion {
        top:50%;
        // transform: translate(0,-50%);
        position: relative;

        p {
            font-size: 1.1em;
        }

        ul {
            margin:2em 0;
            padding: 0;
    
            li {
                font-size: 1.1em;
                list-style-type: none;
            }
        }
    
        .logo {
            width: 45%;
            display: block;
        }
    }

    .form-control {
        border:0.15em solid #707070;
        padding:1em;
        margin-bottom: 1.4em;
        color:#828588;
        
    }

    // .btn-contacto-cv {
    //     margin-top: 10px;
    //     background-color: #00286E;
    //     width: 100%;
    //     color:white;
    //     font-size: 1.2em;
    //     padding:0.6em;
    // }

    // .btn-contacto-cv{
    //     position: relative;
    //     margin-top: 10px;
    //     background-color: #00286E;
    //     width: 50px;
    //     height: 55px;
    //     overflow: hidden;

    //     >input{
    //         position: fixed;
    //         opacity: 1;
    //         height: 100%;
    //         opacity: 1;
    //         z-index: 3000px;
    //     }

    //     >label{
    //         position: absolute;
    //         top: 0px;
    //         left: 0px;
    //         width: 100%;
    //         height: 100%;
    //         background-color: red;
    //     }
    // }



    



    .btn-contacto-aplicar {
        margin-top: 10px;
        background-color: #CC274C;
        width: 100%;
        color:white;
        font-size: 1.2em;
        padding:0.6em;
        


    }
}

.capital-humano-animaciones{
    transition: all ease-in-out 1s;
    animation: capital-humano-animaciones 1s forwards;
}

@keyframes capital-humano-animaciones {
    to {
        transform: translate(0,0);
        opacity: 1;
    }
}

.contnerdor-btn-file input[type="file"]{
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    height: 100%;
    cursor: pointer;
}

.contnerdor-btn-file{
    display: inline-block;
    position: relative;
    background-color: #00286E;
    color: #FFFF;
    border: 0;
    padding: 12px 20px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    height: 55px;
}

